/* Color scheme Red
----------------------------------------------- */
body .post-entry .read-more-button,
body input[type="submit"],
body input[type="reset"],
body #searchform .searchform-wrapper .send {
  background-color: #ff604f;
}
body .sidebar-widget a {
  color: #ff604f;
}
body .menu-box-wrapper,
body .menu-box ul ul {
  border-color: #e74c3c;
}
body #header .menu-box .current-menu-item > a,
body #header .menu-box .current-menu-ancestor > a,
body #header .menu-box .current_page_item > a,
body #header .menu-box .current-page-ancestor > a,
.home #container #header .menu-box .link-home,
body .post-entry .read-more-button:hover,
body input[type="submit"]:hover,
body input[type="reset"]:hover,
body #searchform .send:hover {
  background-color: #e74c3c;
}
body a,
body .site-title a,
body .post-entry .post-entry-headline a {
  color: #e74c3c;
}
body #footer a,
body .footer-signature .footer-signature-content a {
  color: #ffaba3;
}
body #main-content .sticky {
  background-color: #ffdfdb;
}